body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

hr {
	width: 30%;
	margin: auto;
}

h1,
h2 {
	text-align: center;
	color: #4059ad;
}

h1 {
	font-size: 52px;
	margin: 2rem 0 1rem 0;
}

h2 {
	font-size: 36px;
	margin: 1rem 0 1rem 0;
}

table {
	text-align: left;
	width: 80%;
	margin: 0 auto;
}

tr {
	margin: 3px;
	background-color: #97d8c4;
}

tr:nth-child(2n) {
	background-color: #eff2f1;
}

thead tr,
.header-on-left th {
	background-color: #6b9ac4;
}

td,
th {
	padding: 6px;
}

.error {
	background: #f7a2a2;
	border: 2px solid red;
	padding: 20px;
	margin: 10px auto;
	width: 50%;
}

.error h2,
.error p{
    color: black;
    margin: 1rem 0;
    text-align: center;
}

tr td:nth-of-type(3) {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

tr td:nth-of-type(3) a {
	font-size: 16px;
}

form:has(.add-client-btn) {
	margin-top: 3rem;
	text-align: center;
}

.add-client-btn {
	padding: 1rem 3rem;
	font-size: 20px;
}

.back-to-homepage-box,
.go-to-client-box {
    margin: 1rem 0;
	text-align: center;
}

.header-on-left {
	width: 50%;
}

.form-edit-client-goto{
    margin: 1rem 0;
    text-align: center;
}

form.form-edit-client,
form.form-add-client {
	background-color: #97d8c4;
    max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
}

label {
	display: block;
	margin-bottom: 10px;
}

p {
	margin: 0;
	color: white;
}
h4 {
	text-align: center;
}

h4 + p {
	text-align: center;
}

input[type='email'],
input[type='text'],
input[type='date'],
textarea {
	width: 97.5%;
	padding: 5px;
	border: none;
	border-radius: 5px;
}

input[type='date'] {
	color: gray;
}

input[type='email']:focus,
input[type='text']:focus,
input[type='date']:focus,
textarea:focus {
	outline: none;
	box-shadow: 0 0 5px #6b9ac4;
}

button {
	font-size: 16px;
	background-color: #f4b942;
	border: none;
	color: #ffffff;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}

form button{
    padding: 10px 20px;
}

button:hover {
	background-color: #4059ad;
}

button a {
	color: white;
}

a {
    display: inline-block;
    padding: 10px 20px;
	font-size: 18px;
	color: black;
	text-decoration: none;
}

textarea {
	resize: vertical;
}
