:root {
	--oxford-blue: #0a1128;
	--penn-blue: #001f54;
	--indigo-dye: #034078;
	--cerulean: #1282a2;
	--white: #fefcfb;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #555555f0;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--oxford-blue);
}

.welcome-box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

a.welcome {
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	padding: 0 1rem;
}

hr {
	width: 30%;
	margin: auto;
}

h1,
h2 {
	text-align: center;
}

h1 {
	font-size: 52px;
	margin: 2rem 0 1rem 0;
}

h2 {
	font-size: 36px;
	margin: 1rem 0 1rem 0;
}

table {
	text-align: left;
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse;
}

tr {
	margin: 3px;
	background-color: var(--cerulean);
}

tr:nth-child(2n) {
	background-color: #006683;
}

thead tr,
.header-on-left th {
	background: linear-gradient(45deg, var(--penn-blue), var(--indigo-dye));
	color: var(--white);
}

td,
th {
	padding: 6px;
	border: 1px solid var(--oxford-blue);
}

.error {
	background: linear-gradient(135deg, var(--indigo-dye), var(--cerulean));
	border: 2px solid #ff0000;
	padding: 20px;
	margin: 10px auto;
	width: 50%;
	color: var(--white);
}

.error h2,
.error p {
	color: var(--white);
	margin: 1rem 0;
	text-align: center;
}

tr td:nth-of-type(3) {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

tr td:nth-of-type(3) a {
	font-size: 16px;
	color: white;
}

form:has(.add-client-btn) {
	margin-top: 3rem;
	text-align: center;
}

.add-client-btn {
	padding: 1rem 3rem;
	font-size: 20px;
	background: linear-gradient(90deg, var(--cerulean), var(--oxford-blue));
	color: var(--white);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.add-client-btn:hover {
	background: linear-gradient(90deg, var(--penn-blue), var(--oxford-blue));
}

.back-to-homepage-box,
.go-to-client-box {
	margin: 1rem 0;
	text-align: center;
}

.header-on-left {
	width: 50%;
}

.form-edit-client-goto {
	margin: 1rem 0;
	text-align: center;
}

form.form-edit-client,
form.form-add-client {
	background: linear-gradient(135deg, var(--cerulean), var(--white));
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
}

label {
	display: block;
	margin-bottom: 10px;
	color: var(--oxford-blue);
}

p {
	margin: 0;
	color: var(--oxford-blue);
}

h4 {
	text-align: center;
}

h4 + p {
	text-align: center;
}

input[type='email'],
input[type='text'],
input[type='date'],
textarea {
	width: 97.5%;
	padding: 5px;
	border: 1px solid var(--oxford-blue);
	border-radius: 5px;
	color: var(--oxford-blue);
	background-color: var(--white);
}

input[type='date'] {
	color: var(--oxford-blue);
}

input[type='email']:focus,
input[type='text']:focus,
input[type='date']:focus,
textarea:focus {
	outline: none;
	box-shadow: 0 0 5px var(--cerulean);
}

button {
	font-size: 16px;
	background: linear-gradient(90deg, var(--cerulean), var(--oxford-blue));
	border: none;
	color: var(--white);
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}

form button {
	padding: 10px 20px;
}

button:hover {
	background: linear-gradient(90deg, var(--penn-blue), var(--oxford-blue));
}

button a {
	color: var(--white);
}

a {
	display: inline-block;
	padding: 10px 20px;
	font-size: 18px;
	color: black;
	text-decoration: none;
}

a:hover {
	color: white;
}

textarea {
	resize: vertical;
	background-color: var(--white);
	color: var(--oxford-blue);
}


@media(min-width:768px){
	a.welcome {
		font-size: 72px;
	}
}